.block {
	@extend %border-box;
	border:.25rem solid $brown;
	border-radius:.75em;
	display:inline-block;
	background-color:white;
	.content { margin:2em; }
	ul, ol {
		> li.topic {
			font-weight:bold;
			list-style:none;
			margin-left:0em;
		}

		> li.sub {
			margin-left:3.5em;
		}

		//> li:not(.topic), li:not(.sub), 
		> li.subTop {
			@extend .topic;
			margin-left:1.75em;
		}

		> li.item { 
			margin-left:1.75em; 
		}	

		> li { 
			margin-left:1.75em; 
		}		
	}
	> .important { color:$orange; }
}

.orangeBorder{
	border:.25rem solid $orange;
	border-radius:.25em;
	background:$highlight;
	margin:auto;
	display:block;
	
	> p.title{
		color:white;
		background-color:$orange;
	}
}

.onethird {
	width:384px;
	width:calc(33.3333% - 16px);
}
.twothird {
	width:784px;
	width:calc(66.6667% - 16px);
}
.onehalf {
	width:584px;
	width:calc(50% - 16px);
}
.full { width:100%; }