case person
	when 'Deborah Makowski'
		include d_makowski
	when 'Rico Peterson'
		include r_peterson
	when 'Jamie Celentano'
		include j_celentano
	when 'Aaron Gorelick'
		include a_gorelick
	when 'Christmas Avila'
		include c_avila
	when 'Christy Smith'
		include c_smith
	when 'Nicole Crouse-Dickerson'
		include n_course-dickerson
	when 'Jennifer Hayes'
		include j_hayes
	when 'Jessica Morgan'
		include j_morgan
	when 'Holly Jentsch'
		include h_jentsch
	when 'Wendy Wheeler'
		include w_wheeler
	when 'Wendy Eldridge'
		include w_eldridge