- var email = "clsdis";

- var position = "Associate Interpreter";

- var description = "Christy has been a staff interpreter at RIT since September 2010. She graduated with a BS from Idaho State University's Educational Interpreting program in 2004, and spent six years in small town Idaho working in the K-12 environment before coming to RIT. Christy also holds a bachelor's degree in English, earned in 2002. Christy is excited to be a part of the PD Committee, and is currently pursuing a life."