- var email = "dsmdis";

- var position = "Coordinator of Professional Development";

- var description = "Deborah Makowski has worked for the Department of Access Services at RIT since March 1989. She received an AAS Degree from RIT/NTID in 1988 and holds CI and CT certificates from the RID. Deborah's areas of interest and specialty include STEM environments, high-visibility/high-impact situations and Deaf-Blind interpreting. She has served as a mentor for fellow DAS colleagues, community interpreters and students. She is currently the Professional Development Coordinator for the DAS where she coordinates and provides program development and training for the 180+ members of the department.";