- var email = "jahdis";

- var position = "Interpreter";

- var description = "Jennifer graduated from NTID's ITP in 1991 and immediately began working for RIT while simultaneously earning a BS degree. She obtained both CI and CT certifications. After 10 years, she spent some time working in the community, specializing in legal and medical interpreting, returning to RIT in 2009. She has a special interest in working with Deaf interpreters, and has served as a mentor for other hearing interpreters over the years. Jennifer enjoys working on the Liberal Arts core team, particularly in literature and philosophy classes."