- var email = "nrcdis";

- var position = "Interpreter";

- var description = "Nicole has been a professional interpreter since 1999 beginning her career in the Ohio educational system. A move to Rochester in 2001 brought her to RIT as full time staff interpreter within Access Services and a member of the Liberal Arts core team specifically. Now an extended part-time member of Access Services Nicole interprets for the Non-Academic team within the LACT providing interpreting services for RIT's faculty and staff. Nicole holds a bachelor's degree in Psychology as well as an associate degree in English Transliteration and ASL Interpretation; she also is nationally certified, NIC-M by the RID."