//- optional variable
- var displayName = "Richard (Rico) Peterson";

- var email = "rxpnss";

- var position = "Assistant Dead & Director";

- var description = "Rico Peterson is Associate Professor, Assistant Dean, and Director of Access Services at RIT/NTID. Rico earned a Ph.D. in Education from the University of California Riverside, and has taught at Gallaudet, Northeastern University and RIT/NTID."