extends !templates/basic.jade

block script 
	script(type='text/javascript')
		$(document).ready(function() {
			
			$.ajax({
					type: "POST",
					url: rootLoc + "/calendar/getevent"
					data: "event_uid=" + getQueryVariable("event"),
					cache: false,
					success: function(result) {
						console.log(result);
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) { 
						console.log("Status: " + textStatus); 
						console.log("Error: " + errorThrown); 
					}
				});



			$( "#editEventForm" ).submit(function( event ) {
				// Stop form from submitting normally
				event.preventDefault();

				// Get some values from elements on the page:
				var $form = $( this );
				var title = $form.find( "input[id='title']" ).val();
				var loc = $form.find( "input[id='loc']" ).val();
				var start = $form.find( "input[id='startTime']" ).val();
				var end = $form.find( "input[id='endTime']" ).val();
				var des = $form.find( "input[id='description']" ).val();
				
				var dataString = 'title='+ title;
				dataString += '&location='+ loc;
				dataString += '&start='+ start;
				dataString += '&end='+ end;
				dataString += '&description=' + des;
				/*
				$.ajax({
					type: "POST",
					url: rootLoc + "/calendar/addevent",
					data: dataString,
					cache: false,
					success: function(result) {
						console.log("Event Added!");
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) { 
						console.log("Status: " + textStatus); 
						console.log("Error: " + errorThrown); 
					}
				});*/
				jQuery.post(
					rootLoc + "/calendar/addevent" // your url
					, { // re-use event's data
						title: title,
						start: start,
						end: end,
						allDay: false,
						location: "",
						description: ""
					}
				);				
			});
		});

block nav
	+nav('Calendar')

block main
	div.block.onehalf.center
		h2 Modify Event
		form#editEventForm.content.center
			label(for='title') Event Title:
				span#titleError.error Please enter an event title
			input(type='text', id='title', placeholder="Team Status Meeting")

			label(for='loc') Event Location:
				span#locError.error Please enter an event location
			input(type='text', id='loc', placeholder="Sundial")

			label(for='startTime') Start Time:
				span#startTimeError.error Please enter an event start time
			input(type='text', id='startTime', class='time', placeholder="Enter text in the format 03:35PM")

			label(for='endTime') End Time:
				span#endTimeError.error Please enter an event end time
			input(type='text', id='endTime', class='time', placeholder="Enter text in the format 04:35PM")

			label(for='description') Event Description:
				span#descriptionError.error Required Field
			textarea(id='description', rows='6', placeholder="Quick stand up meeting to report the status of our current projects")

			input(type='submit', id='submitButton', value='Send')

		