extends !templates/basic.jade

block nav
	+nav('FAQ')

block main
	div.block.full
		h2 The answers to all of your questions lie below.
		.content
			dl.accordion
				dt I am a question.?
				dd And I am the answer to such a luxurious question such as yourself! lorem	sdfkja;lkjfd;laksj fladsjf ;lakjdsflkjsal;d f;lakjdf; kajdf;lskaj ;lakjdf ;lakjf l;akjsdf ;lkajsdf ;ljadslfj adsjflaksjdf;ijasdjfuaenrlkna vhaiewnfklandsvlasuidhfan dsf jasdflj harunga jdhlkjahdflhudsljfk audsfh ausdfljhdsa liudsahflkjsahfdlkydslkajhtrowoifj asdiufhyiuwern kdsjaf khjhyaluewyr shdfakhslkjfh lhwiuh iadshfkahflkhj lkhewiu fhalkdsjhf aufkdjhflakhds jahdufwlhewlkrjhufhasdhf nsafljshdlf hfsskjdhfjdsahfl jhad;flkjdsak faskhfksahfkl sfa dslkjhfkdsaj laskdjfhdsakfjh 
				dt Another question?
				dd And another answer!
				dt Yet again?
				dd Yes, again!