extends !templates/basic.jade

block nav
	+nav('FAQ')

block main
	div.block.full
		h2 The answers to all of your questions lie below.
		.content: dl.accordion
			dt What are the PD attendance and participation policies?
			dd
				p These policies apply to all members of the DAS staff (including apprenticeship interpreters and students) wishing to participate in our program. They are in place to ensure the quality of our Professional Development Program.
				ul: li.topic DAS PDP Attendance Policy
					li Attendance at any registered PD event is mandatory unless previously excused with valid reason
						ul: li This includes ISTs, workshops, and formally established small groups
					li Attendance is reported to the managers weekly for ISTs and directly following workshops
					li Anyone wishing to receive RID CEUs will only be excused from one IST or small group session (with prior notification) and still be awarded CEUs
						ul: li Individuals missing 1 IST session will sign an Activity Report form with an appropriately reduced number of CEUs
					li Anyone missing more than one IST or small group session whether excused or not will not be eligible to receive CEUs
					li Small groups can arrange to make up time lost due to one or more members’ inability to attend with valid reason
						ul: li This make up session must be agreed upon by all group members and be reflected on the attendance sheet
					li Workshop attendance will continue to be monitored and CEU credit will only be awarded to those present for the entire duration of the event
					li Anyone wishing to withdraw from a PDP event prior to or during the event can do so with manager approval
						ul: li Intent to withdraw should be communicated via email to the event facilitator, your manager, coordinator and the PD coordinator
				h4 DAS PDP Participation Guidelines:
				p Professional Development activities are designed with you in mind. Our program offers DAS staff the opportunity to take time out from providing their service to actually working on developing the skills necessary to provide the high level of service we are committed to providing to the institute and to one another.
				ul: li.topic Those wishing to engage in professional development activities offered through the PDP agree to:
					li Prior to the PD (workshop, IST, small group) event:
						ol: li Discuss with their manager the PDP offerings and how they might serve to fulfill expectations for professional growth
							li Attend to registration timelines and register in a timely manner
							li Communicate with their coordinators to ensure their availability for the duration of the event
							li Be sure you are clear on the learning objectives outlined for any event you register for
							li Complete any preparatory work assigned by the facilitators
					li During the PD (workshop, IST, small group) event:
						ol: li Arrive on time for the event
							li Sign in
							li Be present and ready to fully participate in all activities and discussions
							li Have completed any "homework" assigned by the facilitator(s)
							li Silence cell phones and put away all digital devices not in use for the actual PD event
							li No sleeping
							li Complete pretest, post-test and evaluation for every event
								ul: li CEUs and participation certificates will not be given to anyone not completing these documents
				p <strong>Special Note: </strong>If you are unable to attend a PD event (workshop, IST, small group) for any reason, you must contact the event facilitator(s), your manager, and the PDP coordinator prior to the event. Attendance is reported to managers following every event. <strong>Please see the DAS PDP Attendance Policy for more information.</strong>
			dt What are the PD attendance and participation policies?
			dd
				p These policies apply to all members of the DAS staff (including apprenticeship interpreters and students) wishing to participate in our program. They are in place to ensure the quality of our Professional Development Program.
			dt What are the PD attendance and participation policies?
			dd
				p These policies apply to all members of the DAS staff (including apprenticeship interpreters and students) wishing to participate in our program. They are in place to ensure the quality of our Professional Development Program.