extends !templates/basic.jade

block nav
	+nav('Forms')

block main
	div.block.full
		h2 Pick a form to get started
		p Please email complete forms to <a href='mailto:dsmdis@rit.edu'>the PDP coordinator</a>.

		nav.custom2
			ul
				li: a(href='#') RID Activity Report Form
				li: a(href='#') RID PINRA Form
				li: a(href='#') Independent Study Activity Report
				li: a(href='#') Instructor's Continuing Education Activity Plan
				li: a(href='#') Sponsor's Continuing Eductyouaion Activity Plan

		.subpage
			p This form is to be completed by either the instructor or the RID Sponsor and kept on file with the Sponsor form. 
			p 
				strong This form and the Sponsor form must be completed and submitted to the RID at least 30 days prior to the start of the event.
				| In order to ensure timely submissions to the DAS RID Sponsor and thus the RID, 
				strong the PDP Cordinator requires that this form be filled out and submitted at least 35 days prior to the start of the event. 
			p.
				This form documents the specifics of the RID sponsored PD activity you will be leading. The following information is <strong>required</strong> for this form to be complete and in order for an event to be approved by our RID Sponsor:
			ul
				li Presenter name(s)
				li 	Presenter bio or resume (attach as seperate document)
				li 	Date(s) of Activity or event (discuss and determine with the PDP Coordinator
				li 	Time of Activity or event (discuss and determine with the PDP Coordinator
				li 	Title of Activity
				li 	Level of Instruction (Little/none, Some, Extensive, Teaching)
				li 	Target Audience (Target Audience: (DAS Interpreters is the general response to this. Can be specific to CT or level within the DAS Career Ladder.)
				li 	Event Description (Include general information about what you will be presenting)
				li 	Educational Objectives (list specific observable actions by participants that will demonstrate comprehension and integration of information presented)
				li 	Media and Materials: (List print, technical equipment and other materials needed. Also list WHO will provide the materials and equipment)
				li 	Evaluation and Assessment: (describe how you will evaluate participant learning and presentation effectiveness)
		.subpage.hide
		.subpage.hide
		.subpage.hide
		.subpage.hide
		.subpage.hide