extends !templates/basic.jade

block nav
	+nav('Resources')

block main
	div.block.full
		nav.two
			a(href="#").active Online Resources
			a(href="#")	DAS Resource Library (Under Construction)
		div.subpage
			p.
				Here you will find a variety of links to web content that will help you expand your knowledge base, offer insight and vocabulary and in general help you prepare for interpreting across our curriculum. Consider setting up a small group to really investigate some of the sites and build a solid foundation for understanding the content we face daily in the classroom and beyond! 
			p.
				In addition to content and prep” links you’ll find links to online, RID approved, CEU bearing workshops. These links lead you to alternative PD outside our program. Follow the simple steps outlined below and you may be eligible to receive PD funding to reimburse you after completing the course or workshop.

			h2 Subject Specific Preparation Website
			dl
				dt: a(href='http://brainz.org/universe-magnified', target='_blank') The Universe Magnified
				dd.
					Use full screen and be sure to click on all that’s available to see. Great for general understanding of scale, how things fit together.  Lots of vocabulary and information and many links to articles and information you can use!
				dt: a(href='http://portal.acs.org/portal/acs/corg/content', target='_blank') American Chemical Society
				dd.
					This site has a lot of invaluable information for anyone interested in learning more about chemistry.
				dt: a(href='http://www.aps.org', target='_blank') American Physical Society
				dd.
					This site has a lot of invaluable information for anyone interested in learning more about physics. 
				dt: a(href='http://www.math.com', target='_blank') World of Math Online
				dd.
					This site has a lot of invaluable information for anyone interested in learning more about Math.  Basic math, algebra, statistics, calculus and some more advanced topics as well. 
				dt: a(href='http://www.philosophypages.com', target='_blank') Philosophy Pages
				dd.
					This site has a lot of invaluable information for anyone interested in learning more about philosophy.
				dt: a(href='http://psychology.about.com', target='_blank') About Psychology
				dd.
					This site has a lot of invaluable information for anyone interested in learning more about psychology. 
				dt: a(href='http://www.arthistory.net', target='_blank') Art History
				dd.
					This site has a lot of invaluable information for anyone interested in learning more about art including history, art styles, artists.
				dt: a(href='http://whatis.techtarget.com', target='_blank') Tech Dictionary &amp; IT Encyclopedia
				dd.
					IT Terminology and definitions. Very helpful information including many acronyms commonly used in the field.
				dt: a(href='http://ocw.mit.edu/index.htm', target='_blank') MIT OpenCourseWare
				dd.
					Open courseware is a vehicle that makes it possible for you to access MIT course content for free! There are courses and information in a variety of subjects complete with course notes, problem sets, etc.
				dt: a(href='http://www.businessballs.com/business-dictionary.htm', target='_blank')) Business &amp; Management Terms Dictionary
				dd.
					This site has a lot of invaluable information for anyone interested in learning more about Business and management terminology strategies and style.
				dt: a(href='http://www.ted.com/talks', target='_blank') TED: Ideas worth spreading
				dt: a(href='http://www.tedxislay.com/index.html', target='_blank') TEDxIslay: x = independently organized TED event
				dt: a(href='http://vl2.gallaudet.edu/', target='_blank') Visual Language &amp; Visual Learning
			
			h2 Online PD Opportunities
			p.
				The websites listed below offer online RID approved, CEU bearing PD opportunities for very reasonable fees. If the workshop you are interested in fits into your PD plan and is approved by your manager, you are eligible to receive reimbursement of the workshop fee!
			ul
				li: a(href='http://www.ceusonthego.com', target='_blank') CEUs on the Go
				li: a(href='http://www.signs-of-development.org', target='_blank') Signs of Development
				li: a(href='http://leadershipinstitute.biz', target='_blank') Leadership Institute
				li: a(href='http://www.deafactioncenter.org', target='_blank') Deaf Action Center
			dl: dt Follow these steps to register:
				dd: ol
					li Look at the offerings
					li Contact your manager to ensure that you have their support and request funds if needed
					li “Take” the workshop and complete all requirements
					li Submit your receipt and proof of satisfactory completion of all requirements to your manager
					li Document in your POW/PD plan

			h2 Other Links and Resources
			ul
				li: a(href='http://wiki.rit.edu', target='_blank') RIT wiki
				li: a(href='http://finweb.rit.edu/humanresources/benefits/education/index.html#3', target='_blank') Tuition Assistance
				li: a(href='http://www.rid.org/', target='_blank') Registry of Interpreters for the Deaf
				li: a(href='http://www.gvrrid.org/', target='_blank') Genesse Valley Region RID
				li: a(href='http://www.nad.org/', target='_blank') National Association of the Deaf
				li: a(href='http://www.cit-asl.org/', target='_blank') Conference of Interpreter Trainers

		div.subpage.hide
			p.padding Under Construction