extends !templates/basic.jade

block script
	script(type='text/javascript')
		$(document).ready(function() {

			$.ajax({
				type: "POST",
				url: rootLoc + "/calendar/get_managers_employees",
				data: 'username=tst1111',
				cache: false,
				success: function(result) {
					result = $.parseJSON(result);
					console.log(result);

					$('.myEmployees').html("");
					
					for(var i = 0; i < result.length; i++){
						$(".myEmployees").append("<li class='topic'>" + result[i]['real_name'] + "</li>");
					}

				}			
			});
			
			$.ajax({
				type: "POST",
				url: rootLoc + "/calendar/get_managers_events",
				data: 'username=tst1111',
				cache: false,
				success: function(result) {
					result = $.parseJSON(result);
					console.log(result);

					var pen = result['pending_events'];
					var appr = result['approved_events'];
					var den = result['denied_events'];

					if (pen.length > 0 || appr.length > 0 || den.length > 0){
						$('.myEvents').html("");
						$(".myEvents").append("<li class='topic'>Pending:</li>");
						if (pen.length != 0){
							for (var i = 0; i < pen.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + pen[i]['title'] + ": " + pen[i]['start'] + "</li>");

								var waiting = pen[i]['pending_attendees'];
								for(var j = 0; j < waiting.length; j++){
									$(".myEvents").append("<li class='sub'>" + waiting[j]['real_name'] + "</li>");
								}
							}
						}else{
							$(".myEvents").append("<li>Nobody needs approval for any upcoming events.</li>");
						}

						$(".myEvents").append("<li class='topic'>Approved:</li>");
						if (appr.length != 0){
							for (var i = 0; i < appr.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + appr[i]['title'] + ": " + appr[i]['start'] + "</li>");

								var waiting = appr[i]['approved_attendees'];
								for(var j = 0; j < waiting.length; j++){
									$(".myEvents").append("<li class='sub'>" + waiting[j]['real_name'] + "</li>");
								}
							}
						}else{
							$(".myEvents").append("<li>Nobody has approval for any upcoming events.</li>");
						}

						$(".myEvents").append("<li class='topic'>Denied:</li>");
						if (den.length != 0){
							for (var i = 0; i < den.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + den[i]['title'] + ": " + den[i]['start'] + "</li>");

								var waiting = den[i]['denied_attendees'];
								for(var j = 0; j < waiting.length; j++){
									$(".myEvents").append("<li class='sub'>" + waiting[j]['real_name'] + "</li>");
								}
							}
						}else{							
							$(".myEvents").append("<li>Nobody has been denied for any upcoming events.</li>");
						}
					}
				}
			});
			
			$("#back").click(function(event){
				window.history.go(-1);
			});
		});
block nav
	+nav('My Account') 

block main
	input(type='button', id='back', value='Back').onethird

	br
	br

	div.block.twothird
		h2 Employees' Events
		ul.myEvents
			li.topic Pending:
			li No Pending Events!

			li.topic Approved:
			li No Approved Events!

			li.topic Denied:
			li No Deniend Events!

	div.block.onethird.right
		h2 My Employees 

		ul.myEmployees
			li No Employees!
