extends !templates/basic.jade

block script
	script(type='text/javascript')
		$(document).ready(function() {

			$.ajax({
				type: "POST",
				url: rootLoc + "/calendar/get_current_user",
				data: 'username=tst1111',
				cache: false,
				success: function(result) {
					result = $.parseJSON(result);
					console.log(result);

					var lev = result['account_level'];

					if(lev > 0){
						$('#employees').show();
					}else{
						$('#employees').hide();
					}

					$('#name').html("Hello, " + result['real_name'] + "!");
					$('#email').html("My Email: " + result['uid'] + "@rit.edu");
					
					var manName = result['manager_real_name'];

					if(manName == null || manName.length == 0){
						$("#manager").html("My Manager: No Manager");
					}else{
						$("#manager").html("My Manager: " + result['manager_real_name']);
					}


					var pen = result['events_pending'];
					var appr = result['events_approved'];
					var den = result['events_denied'];

					if (pen.length > 0 || appr.length > 0 || den.length > 0){
						$('.myEvents').html("");
						$(".myEvents").append("<li class='topic'>Pending:</li>");
						if (pen.length != 0){
							for (var i = 0; i < pen.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + pen[i]['title'] + ": " + pen[i]['start'] + "</li>");
								$(".myEvents").append("<li class='sub'>Location: " + pen[i]['location'] + "</li>");
								$(".myEvents").append("<li class='sub'>Description: " + pen[i]['description'] + "</li>");
							}
						}else{
							$(".myEvents").append("<li>No Pending Events!</li>");
						}

						$(".myEvents").append("<li class='topic'>Approved:</li>");
						if (appr.length != 0){
							for (var i = 0; i < appr.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + appr[i]['title'] + ": " + appr[i]['start'] + "</li>");
								$(".myEvents").append("<li class='sub'>Location: " + appr[i]['location'] + "</li>");
								$(".myEvents").append("<li class='sub'>Description: " + appr[i]['description'] + "</li>");
							}
						}else{
							
							$(".myEvents").append("<li>No Approved Events!</li>");
						}

						$(".myEvents").append("<li class='topic'>Denied:</li>");
						if (den.length != 0){
							for (var i = 0; i < den.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + den[i]['title'] + ": " + den[i]['start'] + "</li>");
								$(".myEvents").append("<li class='sub'>Location: " + den[i]['location'] + "</li>");
								$(".myEvents").append("<li class='sub'>Description: " + den[i]['description'] + "</li>");
							}
						}else{							
							$(".myEvents").append("<li>No Denied Events!</li>");
						}
					}
				},
			});
			
			$( "#myEmployees" ).submit(function( event ) {
				event.preventDefault();
				window.location.href="userMyEmployees.html";
			});

		});
block nav
	+nav('My Account') 

block main
	div.block.twothird
		h2 My Events
		ul.myEvents
			li.topic Pending:
			li No Pending Events!

			li.topic Approved:
			li No Approved Events!

			li.topic Denied:
			li No Deniend Events!

	div.block.onethird.right
		h2 My Info
		form#myEmployees.content.center
			p#name Hello Jeff Haak!
			p#email My Email: Jeh9734@rit.edu
			p#manager My Manager: Jeff Haak!	

			br
			br

			input(type='submit', id='employees', value='My Employees')	

