extends !templates/basic.jade

block script
	script(type='text/javascript')
		function approveFunc(e){
			var parent = $(this).parent();
			var userId = parent.attr('name');
			var eventId = parent.val();
			console.log(userId);
			console.log(eventId);



			var dataString = 'event_uid='+ eventId;
			dataString += '&uid='+ userId;
			dataString += '&username=tst1111';
			$.ajax({
				type: "POST",
				url: rootLoc + "/calendar/approve",
				data: dataString,
				cache: false,
				success: function(result) {
					console.log("Approved!");
					location.reload();
				}
			});	
		}

		function denyFunc(e){
			var parent = $(this).parent();
			var userId = parent.attr('name');
			var eventId = parent.val();
			console.log(userId);
			console.log(eventId);



			var dataString = 'event_uid='+ eventId;
			dataString += '&uid='+ userId;
			dataString += '&username=tst1111';
			$.ajax({
				type: "POST",
				url: rootLoc + "/calendar/deny",
				data: dataString,
				cache: false,
				success: function(result) {
					console.log("Denied!");
					location.reload();
				}
			});	
		}

		$(document).ready(function() {
			
			var myUids = [];
			var done = false;

			$.ajax({
				type: "POST",
				url: rootLoc + "/calendar/get_managers_employees",
				data: 'username=tst1111',
				cache: false,
				success: function(result) {
					result = $.parseJSON(result);
					console.log(result);

					$('.myEmployees').html("");
					
					for(var i = 0; i < result.length; i++){
						$(".myEmployees").append("<li class='topic'>" + result[i]['real_name'] + "</li>");
						myUids.push(result[i]['uid']);
					}
					done = true;
				}			
			});
			
			$.ajax({
				type: "POST",
				url: rootLoc + "/calendar/get_managers_events",
				data: 'username=tst1111',
				cache: false,
				success: function(result) {
					$('.myEvents').on('click', '.approve', approveFunc);
					$('.myEvents').on('click', '.deny', denyFunc);

					result = $.parseJSON(result);
					console.log(result);

					var pen = result['pending_events'];
					var appr = result['approved_events'];
					var den = result['denied_events'];

					if (pen.length > 0 || appr.length > 0 || den.length > 0){
						$('.myEvents').html("");
						$(".myEvents").append("<li class='topic'>Pending:</li>");
						if (pen.length != 0){
							for (var i = 0; i < pen.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + pen[i]['title'] + ": " + pen[i]['start'] + "</li>");

								var waiting = pen[i]['pending_attendees'];
								console.log("pen");
								console.log(pen[i]);
								
								for(var j = 0; j < waiting.length; j++){
									
									if(myUids.indexOf(waiting[j]['uid']) > -1){
										var string = "<li class='sub'";
										string += " name='" + waiting[j]['uid'] + "'";
										string += " value='" + pen[i]['id'] + "'>";
										string += waiting[j]['real_name'];
										string += " <a class='approve'><b>Approve</b></a> ";
										string += " <a class='deny'><b>Deny</b></a> ";


										string += "</li>";

										$(".myEvents").append(string);
									}
								}
							}
						}else{
							$(".myEvents").append("<li>Nobody needs approval for any upcoming events.</li>");
						}

						$(".myEvents").append("<li class='topic'>Approved:</li>");
						if (appr.length != 0){
							for (var i = 0; i < appr.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + appr[i]['title'] + ": " + appr[i]['start'] + "</li>");

								var waiting = appr[i]['approved_attendees'];
								console.log("appr");
								console.log(appr[i]);

								for(var j = 0; j < waiting.length; j++){
									if(myUids.indexOf(waiting[j]['uid']) > -1){
										var string = "<li class='sub'";
										string += " name='" + waiting[j]['uid'] + "'";
										string += " value='" + appr[i]['id'] + "'>";
										string += waiting[j]['real_name'];
										string += " <a class='deny'><b>Deny</b></a> ";


										string += "</li>";

										$(".myEvents").append(string);
									}
								}
							}
						}else{
							$(".myEvents").append("<li>Nobody has approval for any upcoming events.</li>");
						}

						$(".myEvents").append("<li class='topic'>Denied:</li>");
						if (den.length != 0){
							for (var i = 0; i < den.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + den[i]['title'] + ": " + den[i]['start'] + "</li>");

								var waiting = den[i]['denied_attendees'];
								console.log("den");
								console.log(den[i]);

								for(var j = 0; j < waiting.length; j++){
									if(myUids.indexOf(waiting[j]['uid']) > -1){
										var string = "<li class='sub'";
										string += " name='" + waiting[j]['uid'] + "'";
										string += " value='" + den[i]['id'] + "'>";
										string += waiting[j]['real_name'];
										string += " <a class='approve'><b>Approve</b></a> ";


										string += "</li>";

										$(".myEvents").append(string);
									}
								}
							}
						}else{							
							$(".myEvents").append("<li>Nobody has been denied for any upcoming events.</li>");
						}
					}
				}

			});
			
			$("#back").click(function(event){
				window.history.go(-1);
			});
		});
block nav
	+nav('My Account') 

block main
	input(type='button', id='back', value='Back').onethird

	br
	br

	div.block.twothird
		h2 Employees' Events
		ul.myEvents
			li.topic Pending:
			li No Pending Events!

			li.topic Approved:
			li No Approved Events!

			li.topic Denied:
			li No Deniend Events!

	div.block.onethird.right
		h2 My Employees 

		ul.myEmployees
			li No Employees!
