extends !templates/basic.jade

block script
	script(type='text/javascript').
		$(document).ready(function() {
			var userId = 'tst1111';
			//var userId = 'tst0000';
			$.ajax({
				type: "GET",
				url: rootLoc + "/api/v1/users/" + userId,
				cache: true,
				success: function(result) {
					//result = $.parseJSON(result);
					console.log("User: " + result);
					console.log(result);

					var lev = result['account_level'];

					if(lev > 0){
						$('#employees').show();
					}else{
						$('#employees').hide();
					}

					$('#name').html("Hello, " + result['real_name'] + "!");
					$('#email').html("My Email: " + result['uid'] + "@rit.edu");
					
					var manName = result['manager_real_name'];

					if(manName == null || manName.length == 0){
						$("#manager").html("My Manager: No Manager");
					}else{
						$("#manager").html("My Manager: " + result['manager_real_name']);
					}


					var pen = result['events_pending'];
					var appr = result['events_approved'];
					var den = result['events_denied'];

					if (pen.length > 0 || appr.length > 0 || den.length > 0){
						$('.myEvents').html("");
						$(".myEvents").append("<li class='topic'>Pending:</li>");
						if (pen.length != 0){
							for (var i = 0; i < pen.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + pen[i]['title'] + ": " + pen[i]['start'] + "</li>");
								$(".myEvents").append("<li class='sub'>Location: " + pen[i]['location'] + "</li>");
								$(".myEvents").append("<li class='sub'>Description: " + pen[i]['description'] + "</li>");
							}
						}else{
							$(".myEvents").append("<li>No Pending Events!</li>");
						}

						$(".myEvents").append("<li class='topic'>Approved:</li>");
						if (appr.length != 0){
							for (var i = 0; i < appr.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + appr[i]['title'] + ": " + appr[i]['start'] + "</li>");
								$(".myEvents").append("<li class='sub'>Location: " + appr[i]['location'] + "</li>");
								$(".myEvents").append("<li class='sub'>Description: " + appr[i]['description'] + "</li>");
							}
						}else{
							
							$(".myEvents").append("<li>No Approved Events!</li>");
						}

						$(".myEvents").append("<li class='topic'>Denied:</li>");
						if (den.length != 0){
							for (var i = 0; i < den.length; ++i) {
								$(".myEvents").append("<li class='subTop'>" + den[i]['title'] + ": " + den[i]['start'] + "</li>");
								$(".myEvents").append("<li class='sub'>Location: " + den[i]['location'] + "</li>");
								$(".myEvents").append("<li class='sub'>Description: " + den[i]['description'] + "</li>");
							}
						}else{							
							$(".myEvents").append("<li>No Denied Events!</li>");
						}
					}
				},
			});
			
			/*//Used to fill events attended in the past
			$.ajax({
				type: "POST",
				url: rootLoc + "/calendar/get_past_n_events",
				data: 'username=' + userId,
				cache: false,
				success: function(result) {
					console.log(result);

					$('.oldEvents').html("");
						$(".oldEvents").append("<li class='topic'>Past Attended Events:</li>");
						if (result.length != 0){
							for (var i = 0; i < result.length; ++i) {
								$(".oldEvents").append("<li class='subTop'>" + result[i]['title'] + ": " + result[i]['start'] + "</li>");
								$(".oldEvents").append("<li class='sub'>Location: " + result[i]['location'] + "</li>");
								$(".oldEvents").append("<li class='sub'>Description: " + result[i]['description'] + "</li>");
							}
						}else{
							$(".oldEvents").append("<li>You have attended no past events this year!</li>");
						}

				}
				

			});
			*/
			
			$( "#myEmployees" ).submit(function( event ) {
				event.preventDefault();
				window.location.href="userMyEmployees.html";
			});

		});
block nav
	+nav('My Account') 

block main
	div.block.twothird
		h2 My Events
		ul.myEvents
			li.topic Pending:
			li No Pending Events!

			li.topic Approved:
			li No Approved Events!

			li.topic Denied:
			li No Deniend Events!

	div.block.onethird.right
		h2 My Info
		form#myEmployees.content.center
			p#name Hello Broken!
			p#email My Email: Broken@rit.edu
			p#manager My Manager: Broken!	

			br
			br
			
			input(type='submit', id='employees', value='My Employees')

	br
	br

	div.block.twothird
		h2 My Past Events
		ul.oldEvents
			li.topic Past Attended Events:
			li You have attended no past events!
