::-moz-selection { background-color:$blue; }
::selection { background-color:$blue; }
html { font:1em/#{$line-height} "Open Sans", sans-serif; }
body { background-color:$lowlight; }
a {
	color:$blue;
	text-decoration:none;
	@include transition(color);
	&[href^="mailto:"]:after {
		content:url(imgs/email.png);
		position:absolute;
		margin:-.25em 0 0 .25em;
	}
	&:hover { color:$brown; }
}

/*	.preload: A kind of hacky way to stop elements from animating
	on page load. JavaScript removes the class after page load. */
.preload * {
	transition:none !important;
	-webkit-transition:none !important;
}

h2 {
	font-size:1.5em;
	line-height:1.5;
	font-weight:400;
}

.container {
	@extend %cf;
	@extend %border-box;
	width:1200px;
	margin:0 auto;
	padding:1em;
	position:relative;
}

main {
	background-color:$highlight;
	padding:1em;
}

.right { float:right; }
.left { float:left; }
.hide { display:none; }