// COLORS
$orange:#F36E21;
$brown:#513127;
$highlight:#eeedd6;
$lowlight:#cbcaac;
$blue:#0E2AA6;

// VARIABLES: ;
$font-size:16;
$line-height:1.5;

// IMPORTS
@import "general/extends";
@import "general/helpers";
@import "general/mixins";
@import "general/normalize";

@import "elements/a";
@import "elements/body";
@import "elements/forms";
@import "elements/h2";
@import "elements/html";
@import "elements/main";
@import "elements/nav";
@import "elements/selection";

@import "items/blocks";
@import "items/container";
@import "items/footer";
@import "items/header";
@import "items/persons";