mixin cta-block(month, day, time, title)
  +cta-block-wrapper
    h3.month
      span.month= month
      span.day= day
    h5.time= time
    h2= title
    a(href="").more-info More Info &raquo;
    a.btn.btn-primary.btn-lg(href="") Register &raquo;
mixin cta-block-wrapper()
  .cta-block
    .inner
      if block
        block
