- var email = "ajgdis"

- var position = "Senior Interpreter"

- var description = "Aaron has been employed as a Sign Language interpreter at RIT/NTID since 1977. Over the years he has had the job titles of part time interpreter, staff interpreter, liaison interpreter, coordinator, manager and senior interpreter. Aaron has also served on the boards of national, state and local interpreting organizations. Aaron earned a B.S. in Deaf Education (actually Speech Pathology and Audiology: Teaching the Deaf Option) from Penn State University. He holds CSC, CI and CT interpreting certifications from the RID, Inc. He has a younger deaf brother who graduated from the Pennsylvania State Oral School (now SSSD) and from RIT/NTID. Despite this background, Aaron didn't learn sign language or interact with the Deaf community in any meaningful way until the age of 26. Aaron and his wife Della have two lovely daughters who (by virtue of Della being a third-generation Deaf woman) are native bi-linguals in English and American Sign Language."
