//- optional variable
- var displayName = "Christine (Christmas) Avila-Smith";

- var email = "cladis";

- var position = "Associate Interpreter";

- var description = "Christmas has been a member of the Department of Access Services since 1991. She holds a BA degree in Language Communication from the University of Pittsburgh and an AS degree in Interpreting from Mount Aloysius College. During her tenure with the DAS she has worked on the Business and Computing Technologies core team. Her areas of specialty include grammatical Linguistics and interpreting in the College of Computing and Information Sciences. Christmas joined the PDP Committee to learn more about the resources within and outside of our department, to become more involved in sharing that information and to enjoy collegial camaraderie. Outside of work Christmas enjoys being an adult leader in the Boy Scouts, spending time with her family and is especially proud of her son Brandon who is currently attending MIT.";