- var email = "jlgdis";

- var position = "Associate Interpreter";

- var description = "Jamie has worked for the Department of Access Services on the CIAS core team since September 2007. She received an AAS and a BS degree in Interpreting from RIT/NTID in 2006 and 2008, respectively. Jamie also received a MS in Professional Studies from RIT in 2011. Her areas of interest are photography, mathematics and criminal justice. In her personal life she can be found training for numerous running races and triathlons. Her goal is to compete in an Ironman triathlon in 2014."