- var email = "jlddis"

- var position = "Associate Interpreter"

- var description = "Jessica has been a staff interpreter on the science and engineering core team since March 2009. She graduated from RIT/NTID with a bachelor's degree in Interpreting in May 2009, and received National Interpreter Certification (NIC) in May 2012. She's very excited to be part of the PD program!"
