- var email = 'wawnes'

- var position = 'Lead Captionist'

- var description = "Wendy Wheeler has worked for the Department of Access Services at RIT since 2003. As a lead captionist she provides real-time captioning services for students in all of the RIT colleges as well as any special events on campus. She helps train and mentor captionists and assists in creating and coordinating professional development activities for her department. Prior to RIT she worked 20+ years in the corporate banking world where she attended the American Institute of Banking and also Securities Training Corporation. She received licenses to sell securities and insurance."
