.cta-block
  text-align: center
  display: inline-block
  margin: 0
  padding: 6px
  width: 20%
  vertical-align: top
  .inner
    padding: 15px
    height: 317px
    border: 1px solid $gray-light
    display: table-cell
    vertical-align: middle
    +border-radius(4px)
  h2, h3
    font-size: 19px
  h2
    font-weight: 600
    height: 130px
    line-height: 1.3em
  h3
    margin-top: 0.35em
    .month
      display: block
      font-weight: 600
      margin-bottom: 0.25em
    .day
      display: block
      font-weight: 700
      font-size: 32px
  h3.day
    font-weight: 700
  h5
    font-size: 13px
  .btn
    width: 100%
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
