.padding { padding:1em; }
.right { float:right; }
.left { float:left; }
.hide { display:none; }
.center {
	margin:0 auto;
}

/*	.preload: A kind of hacky way to stop elements from animating
	on page load. JavaScript removes the class after page load. */
.preload * {
	transition:none !important;
	-webkit-transition:none !important;
}