.accordion {
	> dt {
		cursor:pointer;
		border-bottom:2px solid $orange;
		font-weight:bold;
		padding-top:.5em;
		&:first-child { padding-top:0; }
		&:before {
			content:'';
			background:url("imgs/down.png") no-repeat center;
			background-size:11px 5px;
			display:inline-block;
			width:11px;
			height:5px;
			padding-right:.5em;
			position:relative;
			top:-3px;
			-ms-transform:rotate(-90deg);
			-webkit-transform:rotate(-90deg);
			transform:rotate(-90deg);
			-webkit-transition:-webkit-transform .5s;
			transition:transform .5s;
		}
		&.open {
			&:before {
				-ms-transform:rotate(0deg);
				-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
			}
		}
	}
	> dd {
		border:0 solid transparent;
		transition-property:height, border, opacity;
		-webkit-transition-property:height, border, opacity;
		transition-duration:.5s, .5s, .75s;
		-webkit-transition-duration:.5s, .5s, .75s;
		> h4,
		> ul,
		> ol { margin-top:1em; }
	}
}