.block {
	@extend %border-box;
	border:.25rem solid $brown;
	border-radius:.75em;
	display:inline-block;
	background-color:white;
	.content { margin:2em; }
	ul, ol {
		> li:not(.topic) { margin-left:1.75em; }
		> .topic {
			font-weight:bold;
			list-style:none;
		}
	}
	> .important { color:$orange; }
}
.onethird {
	width:384px;
	width:calc(33.3333% - 16px);
}
.twothird {
	width:784px;
	width:calc(66.6667% - 16px);
}
.onehalf {
	width:584px;
	width:calc(50% - 16px);
}
.full { width:100%; }