footer {
	padding-top:1em;
	> .container {
		> .left {
			> a,
			> p { clear:left; }
		}
		> .logos {
			float:right;
			width:61%;
		}
	}
	p, a { float:left; }
	img {
		height:88px;
		margin-left:2em;
		display:block;
	}
	.interpretek {
		> p { margin-left:2em; }
		> a > img { height:66px; }
	}
}