header {
	background-color:$orange;
	position:relative;
	&, a { color:white; }
	a:hover { color:white; }
	> .container > nav { float:right; }
}
.logo {
	float:left;
	margin-top:17px; // magic number to center the logo
	> img {
		display:block;
		border:none;
	}
}
.motto {
	float:left;
	margin-left:2em;
	font-size:196%;
	font-style:italic;
	> span {
		&:after {
			white-space:pre; // For line break to work
			content:'\A';    // Line break character
		}
	}
}
.breadcrumbs {
	> a {
		&:not(:last-child):after {
			content:'\00BB'; // » character
			margin:0 .5em;
		}
	}
}
.mainNav {
	clear:right;
	position:absolute;
	z-index:10;
	right:1em;
	bottom:1em;
	> a {
		cursor:pointer;
		margin-left:1em;
	}
}
.swoosh {
	position:absolute;
	top:-5px;
	@include transition(left);
	z-index:0;
}
.Home.selected ~ .swoosh { left:43px; }
.Calendar.selected ~ .swoosh { left:128px; }
.Committee.selected ~ .swoosh { left:227px; }
.Forms.selected ~ .swoosh { left:291px; }
.Resources.selected ~ .swoosh { left:386px; }
.Blog.selected ~ .swoosh { left:436px; }
.Contact.selected ~ .swoosh { left:511px; }
.FAQ.selected ~ .swoosh { left:556px; }

.Home:hover ~ .swoosh { left:43px; }
.Calendar:hover ~ .swoosh { left:128px; }
.Committee:hover ~ .swoosh { left:227px; }
.Forms:hover ~ .swoosh { left:291px; }
.Resources:hover ~ .swoosh { left:386px; }
.Blog:hover ~ .swoosh { left:436px; }
.Contact:hover ~ .swoosh { left:511px; }
.FAQ:hover ~ .swoosh { left:556px; }