header {
	background-color:$orange;
	position:relative;
	&, a { color:white; }
	a:hover { color:white; }
	> .container > nav { float:right; }
}
.logo {
	float:left;
	margin-top:17px; // magic number to center the logo
	> img {
		display:block;
		border:none;
	}
}
.motto {
	float:left;
	margin-left:2em;
	font-size:196%;
	font-style:italic;
	> span {
		&:after {
			white-space:pre; // For line break to work
			content:'\A';    // Line break character
		}
	}
}
.breadcrumbs {
	> a {
		&:not(:last-child):after {
			content:'\00BB'; // » character
			margin:0 .5em; 
		}
	}
}
.mainNav {
	clear:right;
	position:absolute;
	z-index:10;
	right:1em;
	bottom:1em;
	> a {
		cursor:pointer;
		margin-left:1em;
	}
}
.swoosh {
	position:absolute;
	top:-5px;
	@include transition(left);
	z-index:0;
}

$home:41px;
$account:97px;
$calendar:80px;
$commitee:93px;
$forms:60px;
$res:92px;
$blog:48px;
$contact:70px;
$faq:48px;


.Home.selected ~ .swoosh { left:$home; }
.MyAccount.selected ~ .swoosh { left:($home + $account); }
.Calendar.selected ~ .swoosh { left:($home + $account + $calendar); }
.Committee.selected ~ .swoosh { left:($home + $account + $calendar + $commitee); }
.Forms.selected ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms); }
.Resources.selected ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms + $res); }
.Blog.selected ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms + $res + $blog); }
.Contact.selected ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms + $res + $blog + $contact); }
.FAQ.selected ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms + $res + $blog + $contact + $faq); }

.Home:hover ~ .swoosh { left:$home; }
.MyAccount:hover ~ .swoosh { left:($home + $account); }
.Calendar:hover ~ .swoosh { left:($home + $account + $calendar); }
.Committee:hover ~ .swoosh { left:($home + $account + $calendar + $commitee); }
.Forms:hover ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms); }
.Resources:hover ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms + $res); }
.Blog:hover ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms + $res + $blog); }
.Contact:hover ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms + $res + $blog + $contact); }
.FAQ:hover ~ .swoosh { left:($home + $account + $calendar + $commitee + $forms + $res + $blog + $contact + $faq); }