b.subpage {
	> p {
		margin:2em;
		& + ul {
			margin-top:-2em;
		}
	}
	> dl {
		padding:2em;
		> dt { font-weight:600; }
		> dd { margin:0 0 1em 1em;}
		ol { margin-left:1em; }
	}
	> ul {
		margin:0 0 0 4em;
	}
	> h2 + ul {
		margin:2em 2em 2em 3.25em;
	}
}