include ../!mixins/nav.jade
include ../!mixins/dropdown.jade
include ../!mixins/cta-block.jade

doctype html
html(lang="en")
  head
    title Professional Development Program
    //- Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- Prefetch
    link(rel="dns-prefetch", href="https://fonts.googleapis.com")
    //- link(rel="dns-prefetch", href="http://google-analytics.com")

    //- favicon
    link(rel="icon", href="assets/favicon.png")

    //- Style
    link(rel="stylesheet", href="assets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:700,400,300")

    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

  body(class='preload')
    header
      .container
        .col-sm-6
          .brand
            a(href='index.html', class='logo')
              img(src='assets/PDPLogo.png', srcset='assets/PDPLogo@2x.png 2x, assets/PDPLogo@3x.png 3x' alt='PDP Logo')
            p(class='motto')
              span Pause for PD... It's good for you!
        .col-sm-6
          .account
            span.welcome Hello, John!
            span
              a(href='')
                i.fa.fa-user
                |   My Account
            span
              a(href='')
                i.fa.fa-sign-out
                |   Sign Out
      block nav

    main: div.container
      .row(style="display: none")
        .alert.alert-info.alert-dismissible.col-sm-12
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          .fa.fa-info-circle
          | &nbsp;
          | Hey there! This is an alert that displays to everyone across the website until they dismiss it.
      block main

    footer
      .overlay
      .container
        .row
          .col-sm-4
            .table
              ul.list-unstyled
                li
                  a(href="http://www.rit.edu/") Rochester Institute of Technology
                li
                  a(href="http://www.ntid.rit.edu/") National Technical Institute of the Deaf
                li
                  a(href="http://www.ntid.rit.edu/das") Department of Access Services
                li &copy; 2015
          .col-sm-2
              .table
                ul.list-unstyled
                  each currentPage in ['Home', 'Calendar', 'Committee']
                    if currentPage == 'Home'
                      -lowercaseURL = 'index.html'
                    else if currentPage == 'Calendar'
                      -lowercaseURL = 'calendarIndex.html'
                    else if currentPage == 'My Account'
                      -lowercaseURL = 'userMyAccount.html'
                    else
                      -lowercaseURL = currentPage.toLowerCase() + '.html'
                    li
                      a(href=lowercaseURL) #{currentPage}
          .col-sm-2
            .table
              ul.list-unstyled
                each currentPage in ['Resources', 'Blog', 'FAQ', 'Contact']
                    if currentPage == 'Home'
                      -lowercaseURL = 'index.html'
                    else if currentPage == 'Calendar'
                      -lowercaseURL = 'calendarIndex.html'
                    else if currentPage == 'My Account'
                      -lowercaseURL = 'userMyAccount.html'
                    else
                      -lowercaseURL = currentPage.toLowerCase() + '.html'
                    li
                      a(href=lowercaseURL) #{currentPage}
          .col-sm-4
            .table
              ul.list-unstyled
                li.img-link
                  a(href="http://www.rid.org/")
                    img(src="/assets/RID.png")
                li.img-link
                  a(href="http://www.rid.org/continuing-education/acet/")
                    img(src="/assets/ACET.png")


    //- JS
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="assets/scripts.js")

    block script
