include ../!mixins/nav.jade
include ../!mixins/dropdown.jade
include ../!mixins/cta-block.jade

doctype html
html(lang="en")
  head
    title Professional Development Program
    //- Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- Prefetch
    link(rel="dns-prefetch", href="https://fonts.googleapis.com")
    //- link(rel="dns-prefetch", href="http://google-analytics.com")

    //- favicon
    link(rel="icon", href="assets/favicon.png")

    //- Style
    link(rel="stylesheet", href="assets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:700,400,300")

    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

  body(class='preload')
    header
      .container
        .col-sm-6
          .brand
            a(href='index.html', class='logo')
              img(src='assets/PDPLogo.png', srcset='assets/PDPLogo@2x.png 2x, assets/PDPLogo@3x.png 3x' alt='PDP Logo')
            p(class='motto')
              span Pause for PD... It's good for you!
        .col-sm-6
          .account
            span.welcome Hello, John!
            span
              a(href='')
                i.fa.fa-user
                |   My Account
            span
              a(href='')
                i.fa.fa-sign-out
                |   Sign Out
      block nav

    main: div.container
      block main

    footer: div.container
      div(class='left')
        a(href='http://rit.edu', target='_blank') Rochester Institute of Technology
        a(href='http://ntid.rit.edu', target='_blank') National Technical Institute for the Deaf
        a(href='http://ntid.rit.edu/das', target='_blank') Deartment of Access Services
        p &copy; 2013
      div(class='logos')
        a(href='http://www.rid.org/', target='_blank')
          img(src='assets/RID.png', alt='RID logo')
        a(href='http://www.rid.org/education/index.cfm/AID/99', target='_blank')
          img(src='assets/ACET.png', alt='ACET logo')
        div(class='interpretek')
          p Our Sponsor:
          a(href='http://www.interpretek.com', target='_blank')
            img(src='assets/interpretek.png', alt='Interpretek logo')

    //- JS
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="assets/scripts.js")

    block script
