@import compass

@import modules/variables
@import vendor/bootstrap
@import modules/white-links
@import modules/cta-block

@import partials/header
@import partials/navbar
@import partials/footer

@import '../../bower_components/font-awesome/scss/font-awesome.scss'

.fa
  min-width: 1em

h2.welcome
  margin-top: 10px

p
  margin-bottom: 12px

main
  padding-bottom: 30px
