extends !templates/basic.jade

block nav
	+nav('Blog')

block main
	.block.onethird
		h2 About the Author
		.content
			img(src='assets/people/d_makowski.jpg', alt='Deborah Makowski Photo').left.padright
			p.
				Deborah is the big boss lady around these parts. She knows every deaf and hard of hearing person on the planet as well as every interpreter.
		h2 Post History
		.content
			ul: li Old Post
				li Older Post
				li Super Old Post
				li Older Post
				li Super Old Post
				li Load More
				li.more View Older
	.block.twothird.right
		h2 Deborah's Blog
		.content
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, natus, doloribus eos suscipit possimus ea sit dolor culpa sunt ad cum quae placeat nam beatae rem iure hic veritatis ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nobis, aut neque aliquid necessitatibus voluptatem et maxime nisi saepe ipsam error accusantium! Voluptatem ullam nostrum repellendus temporibus quaerat vero iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, velit incidunt delectus aut esse quidem architecto laboriosam suscipit culpa est tempore inventore nam dolores aliquam rerum consectetur nisi cum accusantium?
		h2 Comments
		.content
			p None here yet.
