extends !templates/basic.jade

block script
	script(type='text/javascript').
		$(document).ready(function() {
			var userId = 'tst1111';
			//var userId = 'tst0000';

			// page is now ready, initialize the calendar...

			var calendar = $('#calendar').fullCalendar({
				// put your options and callbacks here
				//events: 'https://www.google.com/calendar/feeds/rvkgqt49saqhg4i17fo48u8uk0%40group.calendar.google.com/public/basic',
				//events: rootLoc + '/api/v1/calendar/events/',
				events: function(start, end, callback) {
					$.ajax({
							url: rootLoc + '/api/v1/calendar/events/',
							dataType: 'json',
							data: {
									// our hypothetical feed requires UNIX timestamps
									start: start,
									end: end
							},
							success: function(result) {
									var events = [];

									for (var i = 0; i < result['items'].length; ++i) {
										var item = result['items'][i];
										item["url"] = rootLoc + "/calendarViewEvent.html?event=" + item["id"];
										console.log(item["url"]);
										events.push(item);

									}
									console.log(events);
									callback(events);

							}
					});
				},
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				selectable: true,
				selectHelper: true,
				select: function(start, end, allDay) {
					if(userId == 'tst1111'){
						console.log(allDay);
						if(confirm('Would You like to add an event to this day?')){
							window.location.href="calendarAddEvent.html?start=" + encodeURI(start) + "&end=" + encodeURI(end);
						}
						calendar.fullCalendar('unselect');
					}
				}
			})
		});

block nav
	+nav('Calendar')

block main
	div#calendar.block.full.center
