extends !templates/basic.jade

block script

block nav
	mixin nav('Home')

block main
	.row
		.col-sm-8
			h2
				| This Week in PD:
				strong  Please welcome our new website!
			p Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor.
			p
				|  Nulla vitae elit libero, a
				strong  pharetra augue
				|  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
			p
				|  Praesent commodo cursus magna, vel
				u
					em scelerisque nisl consectetur et.
				|  Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna.
		.col-sm-4
			p hello world
	.row
		.col-xs-12
			h2 Upcoming Events
			ul.content.events
				li.topic No currently listed events!
				li Unfourtunately no events are currently listed.  Sorry for the inconvenience.
	.row
		.col-xs-12
			h2 Mission Statement
			p.content.
				In support of the Department of Access Services mission the Professional Development Program (PDP) provides all members of the department the opportunity to expand their knowledge base, enhance their skills and advance their careers. PDP activities are developed and delivered through a staff driven collaborative process.

